body {
    margin: 0;
    transition: 0.6s;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    align-items: center;
    transition: 0.6s;
    /* background: rgb(30, 36, 70); */
    /* color: rgb(197, 197, 197); */
}

#burger {
    width: 50px;
    padding: 10px;
}

#logo {
    width: 50px;
    padding: 10px;
}

.login button {
    border: none;
    background: rgba(1, 1, 1, 0);
    padding: 10px 20px;
    color: rgb(22, 22, 22);
}

/* header конец */

/* main  */

main {
    background-color: white;
    width: 90%;
    margin: auto;
    transition: 0.6s;
    padding-top: 20px;
    padding-bottom: 20px;
}

code {
    background-color: rgb(231, 231, 231) ;
    padding: 3px 4px;
    transition: 1s;
}

/* main конец */

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aliceblue;
    color: rgb(22, 22, 22);
    transition: 0.6s;
}

footer form {
    display: flex;
    flex-direction: column;
}

form input {
    width: 200px;
    padding: 8px;
}

form textarea {
    width: 200px;
    padding: 8px;
    height: 90px;
    resize: none;
}

.source ul {
    list-style-type: none;
}

.source li {
    margin-right: 25px;
}

.jsSource {
    text-decoration: none;
    color: rgb(45, 11, 157);
}

/* footer конец */